{% extends './index.html' %}

{% block title %} Twee See {% endblock %}

{% block body %}
    <div class="contenedor-principal">
        <h1>Twee See</h1>
        <br><br>
        <form id="frm-buscar" class="input-group">
            <input id="txt-busqueda" type="text" class="form-control" placeholder="Realiza una busqueda">
            <button class="input-group-text" id="basic-addon2">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
{% endblock %}